<% title "Profile" %>


<div class="content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <img src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s100" style="vertical-align: bottom"/>
        <h4 style="display: inline-block">[Insert Full Name Here]</h4>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
          <tr><td><label>Email:</label></td> <td><%= @user.email %></td></tr>
          <tr><td><label>Phone Number:</label></td> <td><%= @user.phone_number %></td></tr>
          <tr><td><label>Company Name:</label></td> <td><%= @user.company_name %></td></tr>
      </table>
      <a class="btn btn-danger" href="/users/edit">Edit</a>
    </div>
  </div>
</div>

