  <% title "Homepage" %>

  <div class="content">

    <div class="panel panel-default">

      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'units/advanced' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 results">
            <%= total_found(@units) %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= render partial:'units/serp' %>
            <tr>
              <td colspan="2">
                <%= paginate @units %>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
