<% title "Unit Listing" %>

<div class="content">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <td class="col-md-2">
            <b>Ad Headline</b>
          </td>
          <td>
            <%= @unit.ad_headline %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Ad Content</b>
          </td>
          <td>
            <%= @unit.ad_content %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Photos</b>
          </td>
          <td>
            <div class="row">

            <% @unit.UnitPhotos.each do |unit_photos| %>
                  <div class="col-lg-4">
                    <a class="fancybox" href="<%= unit_photos.image_url %>" data-fancybox-group="gallery" title=""><img height="150" width="242"  src="<%= unit_photos.image_url %>" alt="" /></a>
                  </div>
              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      $('.fancybox').fancybox();
  });
</script>
