<% title "Unit Listing" %>

<div class="content">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <td class="col-md-2">
            <b>Ad Headline</b>
          </td>
          <td>
            <%= @unit.ad_headline %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Ad Content</b>
          </td>
          <td>
            <%= @unit.ad_content %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Photos</b>
          </td>
          <td>
            <% @unit.UnitPhotos.each do |unit_photos| %>
                <img border="0" src="<%= unit_photos.image_url %>" width="350" height="262">
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
